

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 300px;
    width: 100%;
    margin: auto;
}

.button {
    display: flex;
    justify-content: space-around;
    width: 40%;
    min-width: 300px;
    margin: auto;
}

.button button{
    border-radius:28px;
    border:0px solid #1d1d1d;
    display:inline-block;
    cursor:pointer;
    padding:16px 31px;
}

.homePage{
    position: relative;
    border: 0px white solid;
    height: 100vh;
    max-width: 800px;
    min-width: 335px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: repeating-linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0px, rgba(47, 47, 47, 0.08) 45px,rgba(50, 50, 50, 0.08) 45px, rgba(50, 50, 50, 0.08) 86px,rgba(18, 18, 18, 0.08) 86px, rgba(18, 18, 18, 0.08) 123px,rgba(249, 249, 249, 0.08) 123px, rgba(249, 249, 249, 0.08) 141px,rgba(64, 64, 64, 0.08) 141px, rgba(64, 64, 64, 0.08) 185px,rgba(242, 242, 242, 0.08) 185px, rgba(242, 242, 242, 0.08) 196px,rgba(199, 199, 199, 0.08) 196px, rgba(199, 199, 199, 0.08) 236px),repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.08) 0px, rgba(0, 0, 0, 0.08) 48px,rgba(119, 119, 119, 0.08) 48px, rgba(119, 119, 119, 0.08) 79px,rgba(81, 81, 81, 0.08) 79px, rgba(81, 81, 81, 0.08) 110px,rgba(203, 203, 203, 0.08) 110px, rgba(203, 203, 203, 0.08) 145px,rgba(35, 35, 35, 0.08) 145px, rgba(35, 35, 35, 0.08) 184px,rgba(96, 96, 96, 0.08) 184px, rgba(96, 96, 96, 0.08) 232px,rgba(194, 194, 194, 0.08) 232px, rgba(194, 194, 194, 0.08) 267px),linear-gradient(90deg, rgb(4, 61, 140),rgb(58, 10, 94))

}

.homePage h2{
    -webkit-animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-in-top 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    display: block;
    font-size: 4vw;
    margin: 0;
    padding: 16px;
    background-color: rgb(29, 22, 75);
    -webkit-box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 51px 0px rgba(0,0,0,0.75);
}

.homePage p{
    position: absolute;
    bottom: 9px;
    font-size: 8px;
    font-style: oblique;
    color: seashell;
}

.homePage a{
    position: absolute;
    bottom: 200px;
}

.gameBoard{
    border: 0px white solid;
    height: 100vh;
    max-width: 800px;
    min-width: 335px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: repeating-linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0px, rgba(47, 47, 47, 0.08) 45px,rgba(50, 50, 50, 0.08) 45px, rgba(50, 50, 50, 0.08) 86px,rgba(18, 18, 18, 0.08) 86px, rgba(18, 18, 18, 0.08) 123px,rgba(249, 249, 249, 0.08) 123px, rgba(249, 249, 249, 0.08) 141px,rgba(64, 64, 64, 0.08) 141px, rgba(64, 64, 64, 0.08) 185px,rgba(242, 242, 242, 0.08) 185px, rgba(242, 242, 242, 0.08) 196px,rgba(199, 199, 199, 0.08) 196px, rgba(199, 199, 199, 0.08) 236px),repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.08) 0px, rgba(0, 0, 0, 0.08) 48px,rgba(119, 119, 119, 0.08) 48px, rgba(119, 119, 119, 0.08) 79px,rgba(81, 81, 81, 0.08) 79px, rgba(81, 81, 81, 0.08) 110px,rgba(203, 203, 203, 0.08) 110px, rgba(203, 203, 203, 0.08) 145px,rgba(35, 35, 35, 0.08) 145px, rgba(35, 35, 35, 0.08) 184px,rgba(96, 96, 96, 0.08) 184px, rgba(96, 96, 96, 0.08) 232px,rgba(194, 194, 194, 0.08) 232px, rgba(194, 194, 194, 0.08) 267px),linear-gradient(90deg, rgb(4, 61, 140),rgb(58, 10, 94))
}

.toFind{
    border: 0px white solid;
    background: #010327 ;
    height: 10%;
    width: 100%;
    display: flex;
}

.soluceOn{
    width : 100%;
    display: flex;
}

.soluceOff{
    width : 100%;
    display: flex;
}

.tryBoard{
    border: 0px white solid;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.clavier{
    border: 0px white solid;
    background: #010327 ;
    height: 10%;
    width: 100%;
    display: flex;
}

.correspDiv{
    /* border: 1px rgb(145, 29, 29) solid; */
    width: 30px;
    height: 30px;
    margin: 16px 8px 16px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.result {
    display: flex;
    align-items: center;
    height: 10%;
}

.attempt {
    display: flex;
    height: 10%;
}

.point{
    background-color: black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}

.endModal{
    position: absolute;
    height: 80%;
    width: 100%;
    max-width: 800px;
    min-width: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(135deg, rgba(47, 47, 47, 0.08) 0px, rgba(47, 47, 47, 0.08) 45px,rgba(50, 50, 50, 0.08) 45px, rgba(50, 50, 50, 0.08) 86px,rgba(18, 18, 18, 0.08) 86px, rgba(18, 18, 18, 0.08) 123px,rgba(249, 249, 249, 0.08) 123px, rgba(249, 249, 249, 0.08) 141px,rgba(64, 64, 64, 0.08) 141px, rgba(64, 64, 64, 0.08) 185px,rgba(242, 242, 242, 0.08) 185px, rgba(242, 242, 242, 0.08) 196px,rgba(199, 199, 199, 0.08) 196px, rgba(199, 199, 199, 0.08) 236px),repeating-linear-gradient(135deg, rgba(0, 0, 0, 0.08) 0px, rgba(0, 0, 0, 0.08) 48px,rgba(119, 119, 119, 0.08) 48px, rgba(119, 119, 119, 0.08) 79px,rgba(81, 81, 81, 0.08) 79px, rgba(81, 81, 81, 0.08) 110px,rgba(203, 203, 203, 0.08) 110px, rgba(203, 203, 203, 0.08) 145px,rgba(35, 35, 35, 0.08) 145px, rgba(35, 35, 35, 0.08) 184px,rgba(96, 96, 96, 0.08) 184px, rgba(96, 96, 96, 0.08) 232px,rgba(194, 194, 194, 0.08) 232px, rgba(194, 194, 194, 0.08) 267px),linear-gradient(90deg, rgb(4, 61, 140),rgb(58, 10, 94))
}

.endModal h2{
    display: block;
    color: seashell;
    font-size: 64px;
    margin: 0;
}

.endModal h4{
    display: block;
    color: seashell;
    font-size: 32px;
}

.buttonStyle {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:16px 50px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.buttonStyle:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.buttonStyle:active {
	position:relative;
	top:1px;
}

@media screen and (max-width: 1000px) {
    .homePage h2{
        font-size: 7vw;
    }
  }

  @media screen and (max-width: 430px) {
    .endModal h2{
        font-size: 12vw;
    }

    .endModal h4{
        font-size: 8vw;
    }
  }

  /* ----------------------------------------------
 * Generated by Animista on 2019-12-7 18:12:37
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  