.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    min-width: 300px;
    width: 100%;
    margin: auto;
}

.button {
    display: flex;
    justify-content: space-around;
    width: 40%;
    min-width: 300px;
    margin: auto;
}

.button button{
    border-radius:28px;
    border:0px solid #1d1d1d;
    display:inline-block;
    cursor:pointer;
    padding:16px 31px;
}

.gameBoard{
    border: 0px white solid;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.toFind{
    border: 0px white solid;
    background: #010327 ;
    height: 10%;
    width: 100%;
    display: flex;
}

.tryBoard{
    border: 0px white solid;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.clavier{
    border: 0px white solid;
    background: #010327 ;
    height: 10%;
    width: 100%;
    display: flex;
}

.correspDiv{
    /* border: 1px rgb(145, 29, 29) solid; */
    width: 30px;
    height: 30px;
    margin: 16px 8px 16px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.result {
    display: flex;
    align-items: center;
    height: 10%;
}

.attempt {
    display: flex;
    height: 10%;
}

.point{
    background-color: black;
    border-radius: 50%;
    width: 12px;
    height: 12px;
}