@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Michroma',  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #00010c ;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


